:root {
  --bs-primary: #0056b3;
}

.navbar-light {
  background-color: #f8f9fa;
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-outline-primary {
  color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-outline-primary:hover {
  background-color: var(--bs-primary);
  color: #fff;
}

.card {
  border-color: var(--bs-primary);
}

.card-header {
  background-color: var(--bs-primary);
  color: #fff;
}
